body
{
    background-color: pink;
    font-family: sans-serif;
}

.name_of_objects
{
    color: yellow;
    font-size: medium;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}